@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono&family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
